.dark-mode{
    --primary-color: #000106;
    --secondary-color: #fff;
    --active--color: #808000;
    --hover-aclor : #808000;
    --card-text-color: #fff;
    --card-title-color: #808000;
    --display-5-color: #fff;
    --btn-color: #808000;
    --current-color:  	#808080;
}

:root{
  --primary-color: #fff;
  --secondary-color: #808000;
  --active--color: #808000;
  --hover-aclor : #808000;
  --card-text-color: rgb(139, 123, 123);
  --card-title-color: black;
  --display-5-color: #050301;
  --btn-color: #808000;
  --current-color:  	#808080;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 


.collapse a:hover
{
    color: var( --hover-aclor);
}
nav a:hover{
    color: var(--active--color);
}
.logo{
    width: 60px;
}

section {
     display: flex;
     gap: 3rem;
}

.card {
    height: 1rem;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}

.nav-link {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 30px;
    color: var(--secondary-color);
}

nav a:hover{
    color: var(--active--color);
}
nav li:first-child{
    margin-right: auto;
}

.dropdown {
    display: inline-block;
    position: relative;
    align-items: center;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-options a {
    font-size: 17px;
}

  .dropdown:hover .dropdown-options {
    display: block;
   
  }

  .dropdown .dropdown-options a:hover {
    color: var(--active--color);
  }



  main{
    background-size: cover;
    background-image: url(../Images/donate.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    padding-top: 90px;
}
.payment-form {
background-color: #fff;
width: 600px;
margin: 0 auto;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.payment-form h1 {
font-size: 24px;
margin-bottom: 20px;
}

form {
display: flex;
flex-direction: column;
}

label {
font-weight: bold;
margin-bottom: 5px;
}

input {
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 3px;
font-size: 16px;
outline: none;
}

.form-row {
display: flex;
justify-content: space-between;
}

.form-group {
flex: 1;
}
.form-row input{
width: 280px;
outline: none;

}

button {
background-color: var(--active--color);
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 3px;
font-size: 18px;
cursor: pointer;
transition: all 0.3s ease;
}

button:hover {
background-color: #3a3a06;
}

/* toggle */

/* #icon{
    position: fixed;
    top: 50%;
    font-size: 30px;
    right: 0;
    transition: all 0.3s ease;
    color: orange;
    width: 40px;
    z-index: 999;
}
#icon:hover{
    transform: translateX(-20%);
} */


@media only screen and (max-width: 600px) {
    .schoolName{
        font-size: 12px;
    }
    .contactInfo h1{
        color: white;
        position: relative;
        bottom: 50px;
        left: -50px;
        margin-top: 6rem;
        font-size: 28px;
    }
    .form-row input{
        width: 130px;
        outline: none;
        
        }
        .payment-form {
            background-color: #fff;
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            
            }
            main{
                background-size: cover;
                background-image: url(../Images/donate.jpg);
                height: 90vh;
                background-repeat: no-repeat;
                background-position: center;
                width: 100vw;
                padding-top: 40px;
            }
   
  }
  @media only screen and (min-width: 600px){
    .schoolName{
        font-size: 15px;
    }
    .contactInfo h1{
        color: white;
        position: relative;
        bottom: 50px;
        left: 100px;
        margin-top: 6rem;
        font-size: 38px;
    }
    .contactForm{
        width: 40%;
        padding: 30px;
        margin-left: -120px;
        background-color: var(--primary-color);
        position: relative;
        bottom: 50px;
        
        
    }
    
  }
  @media only screen and (min-width: 768px){
    .schoolName{
        font-size: 18px;
    }
  }
  @media only screen and (min-width: 992px){
    .schoolName{
        font-size: 20px;
    }
  }
  @media only screen and (min-width: 1200px){
    .schoolName{
        font-size: 22thpx;
    }
  }

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

