/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto+Condensed&display=swap'); */

.dark-mode{
    --primary-color: #000106;
    --secondary-color: #fff;
    --active--color: #808000;
    --hover-aclor : #808000;
    --card-text-color: #fff;
    --card-title-color: #808000;
    --display-5-color: #fff;
    --btn-color: #808000;
    --current-color:  	#808080;
}

:root{
  --primary-color: #fff;
  --secondary-color: #808000;
  --active--color: #808000;
  --hover-aclor : #808000;
  --card-text-color: rgb(139, 123, 123);
  --card-title-color: black;
  --display-5-color: #050301;
  --btn-color: #808000;
  --current-color:  	#808080;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.logo{
    width: 60px;
}

section {
     display: flex;
     gap: 3rem;
}
.textColor{
    color: var(--secondary-color);
}

ul{
    color: var(--card-text-color);
}
p{
    color: var(--secondary-color);
}

.card {
    height: 1rem;
}
a.current{
    color: var(  --card-title-color);
}
.current:hover{
    color: var(--current-color);
}
.conHead{
    color: var(--display-5-color);
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}

.nav-link {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 30px;
    color: var(--secondary-color);
}

nav a:hover{
    color: var(--active--color);
}
nav li:first-child{
    margin-right: auto;
}

.dropdown {
    display: inline-block;
    position: relative;
    align-items: center;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-options a {
    font-size: 17px;
}

  .dropdown:hover .dropdown-options {
    display: block;
   
  }

  .dropdown .dropdown-options a:hover {
    color: var(--active--color);
  }


.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container h2 {
    text-align: center;
    margin-bottom: 2rem;
}
.contact{
    position: relative;
    min-height: 5px;
    
    display: flex;
    
    flex-direction: column;
   
    background-size: cover;
  
}

.contact .content{

    max-width: 800px;
    text-align: center;
}
.contact .content h2{

    font-size: 30px;
    font-weight: 800;
    color: white; 
    /* color: rgb(244, 236, 236); */
   
}

.contact .content p{

   
    font-weight: 350;
    font-size:25px;
    color: black;
}


.container1{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 18px;
}

.container1 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container1 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}

.container1 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: white;
}
.container1 .contactInfo .box .text{ 
    /* to check */
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    
    flex-direction: column;
    font-weight: 500;
    font-size: 15px;

}
.contactInfo .box .text p,a{

    text-decoration: none;
    color: white;
  
}


.container1 .contactInfo .box .text h3{
 font-weight: 600;
 /*color: rgb(84, 171, 206);*/
 color:white;
    
}

.contactForm{
    width: 40%;
    padding: 40px;
    margin-left: -180px;
    background-color: var(--primary-color);
    
}
.contactForm h2{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;

}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    background: var(--primary-color);
   
}

.contactForm .inputBox input,textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid var(--secondary-color);
    outline: none;
    resize: none;

}
.contactForm .inputBox label{
    width: 100%;
    font-size: 16px;
    border: none; 
    outline: none;
    resize: none;

}

.contactForm .inputBox  span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: gray;


}
.faqN {
    margin-top: -8rem;
    align-items: center;
}


.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~span
{
    color: gray;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 130px;
    background:  var(--secondary-color);
    color: rgb(66, 66, 66);
    /* border: 1px solid black; */
    border-radius: 50px;

}
.contactForm .inputBox input[type="submit"]:hover{
    background: var(--primary-color);
    color: var(--primary-color);
    color: var(--secondary-color);
    outline: 1px solid var(--secondary-color);

}
input, textarea{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

 .events-date {
    text-align: center;
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: rgba(25, 47, 89, 0.9);
    color: #fff;
    padding: 12px 20px 8px 20px;
    text-transform: uppercase
}

.event-time li {
    display: inline-block;
    margin-right: 20px
}

.event-time li:last-child {
    margin-right: 0
}

.event-time li i {
    color: #59c17a
}

.event-block {
    box-shadow: 0px 0px 16px 0px rgba(187, 187, 187, 0.48)
}

.event-block ul li i {
    color: #59c17a
}

@media screen and (max-width: 1199px) {
    .event-date {
        padding: 10px 18px 6px 18px
    }
}

@media screen and (max-width: 575px) {
    .event-date {
        padding: 8px 15px 4px 15px
    }
    .events-date {
        padding: 10px 15px 6px 15px
    }
}

.position-relative {
    position: relative !important;
}

.margin-40px-bottom {
    margin-bottom: 40px;
}
.padding-60px-lr {
    padding-left: 60px;
    padding-right: 60px;
}

.margin-15px-bottom {
    margin-bottom: 15px;
}
.font-weight-500 {
    font-weight: 500;
}
.font-size22 {
    font-size: 22px;
}
.text-theme-color {
    color: #192f59;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.margin-10px-right {
    margin-right: 10px;
}

#banner{
    margin-top: 2rem;
    height: 50vh;
    background: #000106 url(../Images/events1.jpg);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-size: contain;
    filter: brightness(90%);
   
    
}

.wholefooter{
    padding: 0;
    margin: 0;
   
   
}
#footer{
    padding: 0;
    margin: 0;
  
}

/* toggle */

/* #icon{
    position: fixed;
    top: 50%;
    font-size: 30px;
    right: 0;
    transition: all 0.3s ease;
    color: orange;
    width: 40px;
    z-index: 999;
}
#icon:hover{
    transform: translateX(-20%);
} */


@media only screen and (max-width: 600px) {
    .schoolName{
        font-size: 12px;
    }
  }
  @media only screen and (min-width: 600px){
    .schoolName{
        font-size: 15px;
    }
  }
  @media only screen and (min-width: 768px){
    .schoolName{
        font-size: 18px;
    }
  }
  @media only screen and (min-width: 992px){
    .schoolName{
        font-size: 20px;
    }
  }
  @media only screen and (min-width: 1200px){
    .schoolName{
        font-size: 22thpx;
    }
  }

  .chat-bar-collapsible {
    position: absolute;
    right: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: -320px;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3a3a06;
}

.chat-bar-collapsible {
    position: absolute;
    right: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: -320px;
}

.collapsible {
    background-color: var(--active--color);
    color: white;
    cursor: pointer;
    padding: 1px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
   
    border-bottom: none;
}
.collapse a:hover
{
    color: var( --hover-aclor);
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: 300px;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 340px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
    .banner{
        margin-top: 2rem;
        height: 40vh;
        background: #000106 url(../Images/events1.jpg);
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction:column;
        background-size:cover;
        object-fit: contain;

        
        

        }
}
 