/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto+Condensed&display=swap'); */

.dark-mode{
    --primary-color: #000106;
    --secondary-color: #fff;
    --active--color: #808000;
    --hover-aclor : #808000;
    --card-text-color: #708090;
    --card-title-color: #808000;
}

:root{
  --primary-color: #fff;
  --secondary-color: #808000;
  --active--color: #808000;
  --hover-aclor : #808000;
  --card-text-color: rgb(139, 123, 123);
  --card-title-color: #778899;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    

} 
body{
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    background-color: var(--primary-color); 
    
}


.logo{
    width: 60px;
}

section {
     display: flex;
     gap: 3rem;
   
} 

.card {
    height: 1rem;
    
}

.box{
    box-shadow: 4px 7px 5px 0px rgba(201,193,193,0.75);
    -webkit-box-shadow: 4px 7px 5px 0px rgba(201,193,193,0.75);
    -moz-box-shadow: 4px 7px 5px 0px rgba(201,193,193,0.75);
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}

.nav-link {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 30px;
    color: var(--secondary-color);
}

nav a:hover{
    color: var(--hover-aclor);
}
nav li:first-child{
    margin-right: auto;
}

.dropdown {
    display: inline-block;
    position: relative;
    align-items: center;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-options a {
    font-size: 17px;
}

  .dropdown:hover .dropdown-options {
    display: block;
   
  }

  .dropdown .dropdown-options a:hover {
    color: var(--hover-aclor);
  }

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container h2 {
    text-align: center;
    margin-bottom: 2rem;
}
#banner{
    margin-top: 2rem;
    height: 60vh;
    background: #000106 url(../Images/pexels-kwaku-griffin-14554004.jpg);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-size: cover;
}
.card-text{
    color: var(--card-text-color);
}
.card-title{
    color: var(--card-title-color);
}



.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: var(--primary-color);
  text-decoration: none;
  color: #555;
}

#footer{
    padding: 0;
    margin: 0;
}
.wholefooter{
    padding: 0;
}

/* toggle */

#icon{
    position: fixed;
    top: 50%;
    font-size: 30px;
    right: 0;
    transition: all 0.3s ease;
    color: orange;
    width: 40px;
    z-index: 999;
}
#icon:hover{
    transform: translateX(-20%);
}

@media only screen and (max-width: 600px) {
    .schoolName{
        font-size: 12px;
    }
  }
  @media only screen and (min-width: 600px){
    .schoolName{
        font-size: 15px;
    }
  }
  @media only screen and (min-width: 768px){
    .schoolName{
        font-size: 18px;
    }
  }
  @media only screen and (min-width: 992px){
    .schoolName{
        font-size: 20px;
    }
  }
  @media only screen and (min-width: 1200px){
    .schoolName{
        font-size: 22thpx;
    }
  }


  .chat-bar-collapsible {
    position: absolute;
    right: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: -320px;
}

.collapsible {
    background-color: var(--active--color);
    color: white;
    cursor: pointer;
    padding: 1px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
   
    border-bottom: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: 300px;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 340px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--active--color);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover {
    opacity: .7;
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: var(--active--color);
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: var(--active--color);
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid var(--primary-color);
        border-radius: 0px;
    }
}
 